---
import Card from "@components/base/Card.astro";
import { tArray, getCurrentLocale } from '@utils/i18n';
const currentLocale = getCurrentLocale(Astro.url);
const testimonials = tArray(currentLocale, 'content.testimonials.reviews');
---

<div x-cloak class="relative overflow-hidden" x-intersect="activeStep = ''">
  <div x-data="swiper()" class="carousel-container">
    <div class="carousel-controls flex items-center justify-end mb-4">
      <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600   hover:bg-muted-200  transition-colors duration-300" @click="swiper.slidePrev()">
        <iconify-icon class="iconify" icon="lucide:arrow-left"></iconify-icon>
      </button>

      <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600   hover:bg-muted-200  transition-colors duration-300" @click="swiper.slideNext()">
        <iconify-icon class="iconify" icon="lucide:arrow-right"></iconify-icon>
      </button>
    </div>
    <div class="swiper-container" x-ref="container">
      <div class="swiper-wrapper">
        {testimonials.map((testimonial) => (
          <div class="swiper-slide">
            <Card class="'p-6'">
              <div class="w-full flex flex-col gap-8 font-sans">
                <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600" icon="fa6-solid:quote-left"></iconify-icon>
                <p class="text-muted-500 ">
                  {testimonial.text}
                </p>
                <div class="w-full flex items-center gap-3">
                  <div class="shrink-0 inline-flex relative w-10 h-10 bg-primary-100  rounded-full items-center justify-center">
                    <iconify-icon class="iconify text-primary-600" icon="lucide:user"></iconify-icon>
                  </div>
                  <div>
                    <h4 class="font-medium text-sm text-muted-800 ">
                      {testimonial.name}
                    </h4>
                    <p class="text-xs text-muted-400">{testimonial.position}</p>
                  </div>
                </div>
              </div>
            </Card>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>
