---
import { t, getCurrentLocale } from '@utils/i18n';
const currentLocale = getCurrentLocale(Astro.url);
---

<div
  class="sticky top-24 md:top-20 w-full flex bg-white  border border-muted-200  rounded divide-x divide-muted-200 shadow-xl shadow-muted-300/30 overflow-x-auto z-30"
>
  <button
    class="group flex-1 flex items-center px-5 py-3 whitespace-nowrap font-sans text-muted-800  hover:bg-muted-50  transition-colors duration-300"
    :class="activeCategory === 'all' ? 'bg-muted-50 ' : ''"
    @click="activeCategory = 'all'"
  >
    <span
      class="flex items-center justify-center h-10 w-10"
      :class="activeCategory === 'all' ? 'text-rose-500' : 'text-muted-400 group-hover:text-primary-500'"
    >
      <iconify-icon class="iconify w-6 h-6 flex items-center justify-center text-2xl" icon="ph:grid-four-duotone"></iconify-icon>
    </span>
    <span>{t(currentLocale, 'content.products.toolbar.categories.all')}</span>
  </button>
  <button
    class="group flex-1 flex items-center px-5 py-3 whitespace-nowrap font-sans text-muted-800  hover:bg-muted-50  transition-colors duration-300"
    :class="activeCategory === 'otomotif' ? 'bg-muted-50 ' : ''"
    @click="activeCategory = 'otomotif'"
  >
    <span
      class="flex items-center justify-center h-10 w-10"
      :class="activeCategory === 'otomotif' ? 'text-rose-500' : 'text-muted-400 group-hover:text-primary-500'"
    >
      <iconify-icon class="iconify w-6 h-6 flex items-center justify-center text-2xl" icon="ph:car-duotone"></iconify-icon>
    </span>
    <span>{t(currentLocale, 'content.products.toolbar.categories.otomotif')}</span>
  </button>
  <button
    class="group flex-1 flex items-center px-5 py-3 whitespace-nowrap font-sans text-muted-800  hover:bg-muted-50  transition-colors duration-300"
    :class="activeCategory === 'railway' ? 'bg-muted-50 ' : ''"
    @click="activeCategory = 'railway'"
  >
    <span
      class="flex items-center justify-center h-10 w-10"
      :class="activeCategory === 'railway' ? 'text-rose-500' : 'text-muted-400 group-hover:text-primary-500'"
    >
      <iconify-icon class="iconify w-6 h-6 flex items-center justify-center text-2xl" icon="ph:train-duotone"></iconify-icon>
    </span>
    <span>{t(currentLocale, 'content.products.toolbar.categories.railway')}</span>
  </button>
  <button
    class="group flex-1 flex items-center px-5 py-3 whitespace-nowrap font-sans text-muted-800  hover:bg-muted-50  transition-colors duration-300"
    :class="activeCategory === 'industrial' ? 'bg-muted-50 ' : ''"
    @click="activeCategory = 'industrial'"
  >
    <span
      class="flex items-center justify-center h-10 w-10"
      :class="activeCategory === 'industrial' ? 'text-rose-500' : 'text-muted-400 group-hover:text-primary-500'"
    >
      <iconify-icon class="iconify w-6 h-6 flex items-center justify-center text-2xl" icon="ph:factory-duotone"></iconify-icon>
    </span>
    <span>{t(currentLocale, 'content.products.toolbar.categories.industrial')}</span>
  </button>
</div>
