---
import Description from "@components/content/products/grid/Description.astro";
import Grid from "@components/content/products/grid/Grid.astro";
import Toolbar from "@components/content/products/grid/Toolbar.astro";
import Container from "@components/section/Container.astro";
import SectionMuted from "@components/section/SectionMuted.astro";
import SectionTitle from "@components/section/SectionTitle.astro";
import { t, getCurrentLocale } from '@utils/i18n';
const currentLocale = getCurrentLocale(Astro.url);
---

  <SectionMuted class="'border-b border-muted-200 dark:border-muted-800'">
    <Container>
      <SectionTitle
        title={t(currentLocale, 'section.catalog_product.title')}
        subtitle={t(currentLocale, 'section.catalog_product.subtitle')}
        minititle={t(currentLocale, 'section.catalog_product.minititle')}
        class="'mx-auto text-center'"
      />

      <div id="doctors" x-data="doctors()"  x-intersect="activeStep = 'spy-1'">
        <Toolbar />

        <!--Grid wrapper-->
        <div class="py-10">
          <div class="grid grid-cols-12 md:gap-12 pb-20">
            <!--Filters-->
            <div class="hidden lg:block col-span-12 lg:col-span-3">
              <Description />
            </div>
            <!--Content-->
            <div class="col-span-12 lg:col-span-9">
              <!--Subgrid-->
              <Grid />
            </div>
          </div>
        </div>
      </div>
    </Container>
  </SectionMuted>